body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

header.masthead {
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: none;
    background: rgb(0, 0, 26);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div.container {
    width: 80%;
    height: 100%;
    padding: 2rem;
    border-radius: 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
h1 {
    text-shadow: 0 0 2rem white;
}
span{
    text-shadow: 0 0 2rem orange;
}
form {
    height: 100%;
    margin-top: 2.5rem;
}
.div-container {
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.email-sec,
.ps-sec {
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 1rem;
    color: white;
    width: 90%;
    text-align: left;
}

.div-container input {
    background-color: unset;
    border: unset;
    border-bottom: 0.1rem orange solid;
    transform: scale(1);
    transition: all 1.25s ease;
}
.div-container input:hover {
    border: 0;
    margin: 1rem 0;
    background-color: white;
    transform: scale(1.1);
    transition: all 1.25s ease;
}
.div-container button:hover {
    color: rgb(96, 63, 0);
}

.div-container a {
    text-decoration: none;
}

@media (min-width: 764px) {
    div.container {
        height: 80%;
    }
    form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;
    }
    label {
        width: 100%;
        font-size: 2.5rem;
    }
    .div-container {
        width: 75%;
    }

    .div-container input {
        font-size: 1.5rem;
        background-color: unset;
    }
    .div-container button {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    .div-container a {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    div.container {
        height: 90%;
    }
    label {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    div.container {
        width: 100%;
        flex-flow: row;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }
    h1{
        font-size: 4rem;
    }
    form {
        height: 80%;
        width: 50%;
    }
    label {
        width: 100%;
        font-size: 1rem;
    }
    .div-container {
        width: 75%;
    }

    .div-container input {
        font-size: 1.2rem;
        background-color: unset;
    }
    .div-container button {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    .div-container a {
        font-size: 0.75rem;
    }
}
