nav{
  height: 4rem;
}

header{
    width: 75%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10rem;
    border-bottom: .1rem orange solid;
}
h3{
    font-size: 2.5rem;
    margin-left: 2rem;
    font-weight: 400;
    z-index: 40;
    text-shadow: 0rem 0rem 2rem orange;
}