.bottom {
    margin-top: 300px;
  }
  
  .right {
    margin-left: 300px;
  }
  
  .box {
    z-index: 30;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    -webkit-animation: box 5s infinite linear;
            animation: box 5s infinite linear;
  }
  
  .fruit {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #32CD32;
    border-radius: 60% 30%;
    -webkit-animation: fruit 12s infinite linear;
            animation: fruit 12s infinite linear;
  }
  
  .leaf {
    border-radius: 70% 15%;
    background: radial-gradient(circle at top right, #34D12E, #147010 70%); /* leaf */
    width: 40px;
    height: 40px;
    margin-left: 70px;
    margin-top: -10px;
  }
  
  @-webkit-keyframes box {
    50% {
      -webkit-transform: scale(0.01) rotate(180deg);
              transform: scale(0.01) rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes box {
    50% {
      -webkit-transform: scale(0.01) rotate(180deg);
              transform: scale(0.01) rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes fruit {
    12.5%, 25% {
      background: #FFA500;
      border-radius: 50%;
    }
    37.5%, 50% {
      background: #FFF44F;
      border-radius: 50% 30%;
    }
    62.5%, 75% {
      background: #EDADAA;
      border-radius: 50%;
    }
    87.5% {
      background: #32CD32;
      border-radius: 60% 30%;
    }
    100% {
      -webkit-transform: rotate(-1440deg);
              transform: rotate(-1440deg);
    }
  }
  @keyframes fruit {
    12.5%, 25% {
      background: #FFA500;
      border-radius: 50%;
    }
    37.5%, 50% {
      background: #FFF44F;
      border-radius: 50% 30%;
    }
    62.5%, 75% {
      background: #EDADAA;
      border-radius: 50%;
    }
    87.5% {
      background: #32CD32;
      border-radius: 60% 30%;
    }
    100% {
      -webkit-transform: rotate(-1440deg);
              transform: rotate(-1440deg);
    }
  }